<div class="home__container">
    <app-card gameCover="assets/bt-4.jpg" gameLabel="Digital" gameType="Digital | PS4" gamePrice="R$49,99"></app-card>
    <app-card gameCover="assets/bt-1.jpg" gameLabel="Digital" gameType="Digital | PS4" gamePrice="R$79,90"></app-card>
    <app-card gameCover="assets/bt-5.jpg" gameLabel="Exclusive" gameType="Digital | PS5" gamePrice="R$99,90"></app-card>
    <app-card gameCover="assets/bt-bad-company-2.jpg" gameLabel="Digital" gameType="Digital | PS4" gamePrice="R$34,90"></app-card>
    <app-card gameCover="assets/bt-hardline.jpg" gameLabel="Digital" gameType="Digital | PS3" gamePrice="R$29,90"></app-card>
    <app-card gameCover="assets/AC.jpg" gameLabel="Digital" gameType="Digital | PS4" gamePrice="R$59,90"></app-card>
</div>